@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .7rem;    --p-fs-media: 1.1rem;
    --sm-fs: .65rem;    --a-fs-media: 1.1rem;
    --lg-fs: 1rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #e7f4eb;
    --clr-bg-pri: #dd6e51;
    --clr-bg-sec: #f48266;
    --clr-acc-main: #f8b4a3;
    --clr-acc-pri: #fdef74;
    --clr-acc-sec: #58d861;
    --clr-acc-thi: #74b6f3;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  #fff;
    color: var(--clr-text-main);
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}
  
.btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 300px;
    margin: 1rem;
    width: 400px;
    background-color: var(--clr-bg-pri);
    position: relative;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
    box-shadow: 0px 8px 30px -10px var(--clr-acc-fif);
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
    border-radius: 30px;
    overflow: hidden;
}

header {
    display: flex;
    width: 100%;
    padding: 1.5rem 2rem;
    justify-content: space-between;
    align-items: center;
    font-size: var(--h4-fs);
    color: var(--clr-acc-main);
}

header h3 {
    color: #fff;
    font-weight: 300;
    font-size: var(--lg-fs);
}

header i {
    font-size: var(--h2-fs);
    cursor: pointer;
}


.products {
    position: relative;
    overflow-y: scroll;
    height: 30rem;
    transition: 1s;

}

.products::-webkit-scrollbar {
    display: none;
  }

.meal {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1rem 1.5rem;
    position: relative;
    cursor: pointer;
    transition: .5s ease-in-out;

}

.item {
    
    background-color: var(--clr-bg-sec);
    margin-bottom: 2px;
    position: inherit;
    overflow-x: hidden;
}


.item:last-child {
    margin-bottom: 0;
}

.name {
    margin: 0 1rem;
}

.name h4 {
    font-size: var(--lg-fs);
    color: #fff;
}

.picture img {
    width: 4rem;
    height: 4rem;
    border-radius: 1.3rem;
    object-fit: cover;
    object-position: center;
    
}

.direction {
   margin-left: auto;
   text-align: center;
   color: #fff;
}

.direction span {
    font-size: 2rem;
    font-weight: bold;
}

.direction p {
    font-size: var(--lg-fs);
}

[data-star] {
    text-align: left;
    font-style: normal;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    unicode-bidi: bidi-override;
}

[data-star]::before {
    display: block;
    content: '★★★★★';
    color: var(--clr-bg-pri);
}

[data-star]::after {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    width: 0;
    color: var(--clr-acc-pri);
    overflow: hidden;
    height: 100%;
}


[data-star^="5.0"]::after{width: calc(5/5*100%)}
[data-star^="4.5"]::after{width: calc(4.5/5*100%)}
[data-star^="4.0"]::after{width: calc(4/5*100%)}
[data-star^="3.5"]::after{width: calc(3.5/5*100%)}
[data-star^="3.0"]::after{width: calc(3/5*100%)}

.tag {
    display: flex;
}

.tag > p {
    font-size: var(--p-fs);
    border: 1px solid #fff;
    border-radius: 100vw;
    color: #fff;
    padding: 0 .5rem;
    margin: .1rem;
}


.meal.active {
    transform: translateX(-12rem);

}

.bookmark {
    position: absolute;
    top:0;
    bottom: 0;
    width: 12rem;
    right: -12rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: .5s ease-in-out;
}

.bookmark div {
    font-size: var(--lg-fs);
    text-align: center;
    cursor: pointer;
}

.bookmark div i {
    font-size: var(--h2-fs);
}

.phone i {
    color: var(--clr-acc-sec);
}

.tags i {
    color: var(--clr-acc-thi);
}


.bookmark.active {
    transform: translateX(-12rem);
}