@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/*===== VARIABLES CSS =====*/

:root {
    --h1-fs: 2rem;    --h1-fs-media: 3rem; 
    --h2-fs: 1.5rem;  --h2-fs-media: 2rem;
    --h3-fs: 1.3rem;  --h3-fs-media: 1.8rem;
    --h4-fs: 1.1rem;  --h4-fs-media: 1.5rem;
    --p-fs: .7rem;    --p-fs-media: 1.1rem;
    --a-fs: .7rem;    --a-fs-media: 1.1rem;
    --li-fs: .7rem;   --li-fs-media: 1.1rem;    

    --clr-bg-main: #ddf1f1;
    --clr-bg-pri: #a9e5e7;
    --clr-bg-sec: #f3fafa;
    --clr-acc-main: #00bea6;
    --clr-acc-pri: #009885;
    --clr-acc-sec: #33cbb8;
    --clr-acc-thi: #d80000;
    --clr-acc-four: #ad0000;
    --clr-acc-fif: #e03333;
    --clr-text-main: #67696a;
    --clr-text-pri: #36454F;  
    
    --shadow-color: #33cbb8;    
    --main-ff: 'Poppins', sans-serif;
  }

/*===== BASE =====*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-ff);
    font-size: var(--p-fs);
    background: var(--clr-bg-main);
    color: var(--clr-text-main);
    width: 100%;
    min-height: 100vh;
}   

h1, h2, h3, h4,
p, a, li {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-text-main);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scaleUp {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}
    /* animation: scaleUp 1s ease-in-out;
    transform-origin: center center; */

/*===== BUTTONS =====*/

.btn {
    display: inline-block;
    background-color:  #fff;
    color: var(--clr-text-main);
    padding: .5rem 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    transition: .2s;
}
  
.btn:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.btn:active {
    scale: .97;
}

/*===== PROJECT CSS =====*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 300px;

    width: 400px;
    padding: 1rem;
   
    background-color: #fff;
    position: relative;
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
    box-shadow: 0px 8px 30px -10px var(--clr-acc-sec);
    animation: scaleUp 1s ease-in-out;
    transform-origin: center center;
    /* overflow: hidden; */
}

header {
    position: fixed;
}


.products {
    overflow-y: scroll;
    height: 30rem;
    margin-top: 4rem;
}

.products::-webkit-scrollbar {
    display: none;
  }

.item {
    display: flex;
    padding: .5rem;
}

.name {
    margin: 0 1rem;
}

.picture img {
    width: 4rem;
    height: 4rem;
    border-radius: 1.3rem;
    object-fit: cover;
    object-position: center;
    
}

[data-star] {
    text-align: left;
    font-style: normal;
    display: inline-block;
    position: relative;
    unicode-bidi: bidi-override;
}

[data-star]::before {
    display: block;
    content: '★★★★★';
    color: #ddd;
}

[data-star]::after {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    width: 0;
    color: #ff8c00;
    overflow: hidden;
    height: 100%;
}

[data-star^="5.0"]::after{width: calc(5/5*100%)}
[data-star^="4.5"]::after{width: calc(4.5/5*100%)}
[data-star^="4.0"]::after{width: calc(4/5*100%)}
[data-star^="3.5"]::after{width: calc(3.5/5*100%)}
[data-star^="3.0"]::after{width: calc(3/5*100%)}

.tag {
    display: flex;
}

.item p {
    font-size: var(--p-fs);
    border: 1px solid #fff;
    border-radius: 100wv;
    margin: .3rem;
}